body{
    background-image: url("./planebg.jpg");
    background-size: cover;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* border: solid black 1px; */
    position: fixed;
}
.login{
    height: 50%;
    width: 30%;
    border: solid rgb(114, 144, 146);
    border-radius: 8px;
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
}
.textBox{
    margin-left: 20px;
    height: 10%;
    width: 50%;
    border-radius: 8px;
    border: solid black 1px;
}
.btn{
    margin-left: 20px;
    height: 10%;
    width: 30%;
    transition: all 0.5s ease;
    border-radius: 8px;
    background-color: lightblue;
}
.btn p{
    /* height: 0%; */
    font-size:80%;

    /* font:bolder; */
    margin-top: 0;
}
.btn:hover{
    cursor: pointer;
    /* background-color: aqua; */
    /* color: white; */
    border: aqua solid 1px;
}